header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5rem;
  width: 100vw;
  background: var(--gray-700);
}

.logo{
  display: flex;
  align-items: flex-end;
}

.logo img{
  margin-right: 0.6875rem;
  width: 1.375rem;
}

.logo span{
  font-weight: bold;
  font-size: 2.5rem;
}
.logo .to{
  color: var(--blue);
}
.logo .do{
  color: var(--purple-dark);
}